include header
body
    div(id="main")
        include hero
        include title
        include tagline
        p.err Looks like you've completely lost your way...
        a(href="/") HOME
    include footer