include header
body
    div(id="main")
        include hero
        include title
        p Your data security is paramount. We're here to help.
        p.messenger Enter your room number
        span.you Preferred Username:#{nbsp}
        input(type="text" id='uname' value=newUname autofocus onFocus="this.select()")
        br
        span.protocol Room Number:#{nbsp}
        input(type='number' id='room' placeholder='room')
        br
        br
        button(id="toRoom") Go
        script(src='../../scripts/index.js')
    include footer