span.smaller.you Preferred Username:#{nbsp}
input.smaller.inv(type="text" id='uname' value=uname onFocus="this.select()")
br
span.smaller.protocol Room Number:#{nbsp}
input.smaller.inv(type='number' id='room' value=num onFocus="this.select()")
br
button.smaller.inv(id="toRoom") Go