include inv_header
body
  div(id="main")
    div.corneredL
      include smallerHero
      include smallerDesc
    div.corneredR
      include inv_smallerNavblock
    include chat
    include feScript
  include inv_footer