span.smaller.you Preferred Username: #{nbsp}
input.smaller(type="text" id='uname' value=uname onFocus="this.select()")
br
span.smaller.protocol Room Number: #{nbsp}
input.smaller(type='number' id='room' placeholder='room')
br
button.smaller(id="toRoom") Go