include header
body
    div(id="main")
        include hero
        include title
        include tagline
        p.err Alright, you're funny, I get it.
        p.err Too bad I don't support room numbers greater than 10#[sup #{maxSize}]-1...
        p.err That's #[b #{maxWord}] different combinations!
        br
        a(href="/") HOME
    include footer