html {
  background-color: #fefefe;
}

body {
  margin: 0;
  margin-top: 5vmin;
  padding: 0;
  font-family: 'Crimson Text', serif;
  font-size: 12pt;
}

h1 {
  margin-bottom: 0;
}

div {
  padding: 2vh 2vmin;
  text-align: center;
}

div img {
  margin: auto;
  height: 28vmin;
}

p {
  text-align: inherit;
  text-justify: inter-word;
  white-space: pre-line;
  word-break: normal;
  margin-block-end: inherit;
  margin-block-start: 0em;
}

button {
  margin: 0 5pt;
  height: inherit;
}

span {
  margin: 0 15pt;
}

.messenger {
  text-align: center;
  font-weight: bolder;
}

.tagline {
  font-style: italic;
  margin-bottom: 2vmin;
}

.footer {
  font-size: 2.5vmin;
}

.err {
  color: crimson;
}

.you {
  color: forestgreen;
}

.new {
  color: royalblue;
}

.them {
  color: #202020;
}

.protocol {
  color: coral;
  /* font-style: italic; */
}

.corneredL {
  margin: 0;
  top: 0;
  left: 0;
  text-align: left;
  opacity: 0.5;
  position: absolute;
  margin-block-end: 0;
  margin-block-start: 0em;
  margin-top: 1em;
}

.corneredR {
  margin: 0;
  top: 0;
  right: 0;
  text-align: right;
  opacity: 0.5;
  position: absolute;
  margin-top: 1.5em;
}

img.smaller {
  height: 5vmin;
}

p.smaller,
span.smaller,
input.smaller,
button.smaller {
  font-size: 2vmin;
}

input.smaller {
  width: 15vmin;
}

.chat,
#footer {
  margin: auto;
  max-width: 80vw;
}